keras
alembic==1.0.3
backcall==0.1.0
bcrypt==3.1.4
beautifulsoup4==4.4.1
cffi==1.11.5
chardet==2.3.0
Click==7.0
cloudpickle==0.6.1
cycler==0.10.0
Cython==0.29
dask==0.20.1
decorator==4.3.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Migrate==2.3.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
html5lib==0.999
imutils==0.5.1
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
kiwisolver==1.0.1
Mako==1.0.3
MarkupSafe==0.23
matplotlib==3.0.2
networkx==2.2
numpy==1.11.0
parso==0.3.1
pexpect==4.0.1
pickleshare==0.7.5
Pillow==5.3.0
polib==1.0.7
prompt-toolkit==2.0.7
psutil==5.6.6
ptyprocess==0.5
pycparser==2.19
Pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.5
python-debian
python-editor==1.0.3
pytz==2018.7
PyWavelets==1.0.1
pyxdg==0.25
reportlab==3.3.0
requests
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==0.17.0
six==1.10.0
SQLAlchemy==1.2.14
ssh-import-id==5.5
toolz==0.9.0
traitlets==4.3.2
urllib3==1.13.1
wcwidth==0.1.7
Werkzeug==0.14.1
WTForms==2.2.1
